<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>
<body>

<!-- HTML -->
<div>
<a class="navbar-brand" href="{{ url_for('list_all_html') }}">List all the elements</a>
</div>
<div>
<a class="navbar-brand" href="{{ url_for('submit') }}">Add new element</a>
</div>

</body>
</html>


