<!DOCTYPE html>
<html>
<head>
<title>Display List</title>

<!-- CSS -->
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }            
</style>
</head>
<body>

<!-- HTML -->
<table>
<tr>
<th>UserID</th>
<th>Name</th>
<th>Phone</th>
<th>Email</th>
</tr>
{% for value in arr %}
<tr>
<td>{{value._id}}</td>
<td>{{value.name}}</a></td>
<td>{{value.phone}}</td>
<td>{{value.email}}</td>
</tr>
{% endfor %}
</table>
<div>
<a href="{{ url_for('index') }}"> Back to the index page </a> 
</div>
</body>
</html>


